.buttonSidebar{
    border-radius: 1.5rem;
    margin-top: var(--style-font);
    font-weight: bold;
    width:  25vw;
    padding: 0.5rem;
  
}
.buttonSidebar:hover{
    background-color: rgb(219, 219, 219);
    font-size: 13px;
    color: #1f1f1f;
    transition: 0.5s;
}

@media screen and (max-width: 740px) {
    .buttonSidebar{
        border-radius: 1.5rem;
        margin-top: var(--style-font);
        font-weight: bold;
        width:  50vw;
        padding: 0.5rem;
      
    }
}

@media screen and (min-width: 1160px)  {
    .buttonSidebar{
        border-radius: 1.5rem;
        margin-top: var(--style-font);
        font-weight: bold;
        width: 10vw;
        padding: 0.5rem;
      
    }
  }