
.cards{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.cards-car{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;


}

.cards-car img {
    border-radius: 50%;
}