
.mainHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

}

.mainHeader h2 {
    color: #fff;
}
.mainHeader button{
    background-color:transparent ;
    border: 0;
    color: #dbd4d4;
}