

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #121212;
  border-radius: 10px;
    
}
.mainCar{
    margin: 0px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}