
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #121212;
    border-radius:var(--style-font);
    margin:var(--style-font);
    padding: var(--style-font);
}
.mainCar{
    width: 70vw;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

@media screen and (min-width: 1160px)  {
    .mainCar{
        width: 40vw;
        
    }
  }