*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.biblioteca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 15px;
}
.biblioteca p{
    font-weight: bold;
}
span{
    color: #fff;
}

h3{
  font-weight: bold;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lateral{
    margin: 10px;
    width: 400px;
    border-radius: 20px;
    background-color: #121212;
    padding: 10px;
}
.cards{
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.cards2{
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 200px;
}
.button-cards{
    margin-top: 10px;
    font-weight: bold;
    width: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.normas{
    display: flex; 
    flex-direction: column;
}
.links{
    display: flex;
    gap: 10px;
}
.links a{
    font-size: 14px;
    text-decoration: none;
    color: #9b9696;
}

.button-pagina-lateral{
    background-color: transparent;
    color: #fff;
    margin-top: 30px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 50px;
  
}
.button-pagina-lateral:hover{
    background-color: rgb(219, 219, 219);
    font-size: 13px;
    color: #1f1f1f;
    transition: 0.5s;
}