
.containerApp {
   
   
}

.central-app{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
   
}

@media screen and (max-width: 740px) {
    .container {
        
        width: 5.208vw;
        
    }
    .central-app{
    
       align-items: center;
        flex-direction: column;
        
       
    }
}